<p-dialog [(visible)]="display" [closable]="false" class="custom-dialog" header="הוספה">
    <ng-template pTemplate="header">
        <div class="custom-dialog-header">
            <button type="button" class="p-dialog-header-icon p-dialog-header-close p-link" (click)="display=false">
                <span class="p-dialog-header-close-icon pi pi-times"></span>
            </button>
            <span class="custom-dialog-title"><b>הוספה</b></span>
        </div>
    </ng-template>
    <div class="p-fluid">
        <div class="p-field">
            <label for="title">שם הקופה</label>
            <input id="title" type="text" pInputText [(ngModel)]="item.title" />
        </div>
        <div class="p-field">
            <label for="arrangementName">שם ההסדר</label>
            <input id="arrangementName" type="text" pInputText [(ngModel)]="item.arrangementName" />
        </div>
        <div class="p-field">
            <label for="trainingsPerMonth">מספר אמונים בחודש </label>
            <input id="trainingsPerMonth" type="number" pInputText [(ngModel)]="item.trainingsPerMonth" />
        </div>
        <div class="p-field">
            <label for="trainingPrice">מחיר לאימון</label>
            <input id="trainingPrice" type="number" pInputText [(ngModel)]="item.trainingPrice" />
        </div>
        <div class="p-field">
            <label for="minimumAge">:טווח גילאים <br>מ: </label>
            <input id="minimumAge" type="number" pInputText [(ngModel)]="item.minimumAge" />
            <label for="maximumAge">עד</label>
            <input id="maximumAge" type="number" pInputText [(ngModel)]="item.maximumAge" />
        </div>
        <div class="p-field">
            <label for="trainingDescription">תאור </label>
            <input id="trainingDescription" type="text" pInputText [(ngModel)]="item.trainingDescription" />
        </div>
    </div>
    <p-footer>
        <button pButton type="button" label="ביטול" icon="pi pi-times" (click)="display=false" class="p-button-secondary"></button>
        <button pButton type="button" label="שמירה" icon="pi pi-check" (click)="save()" class="p-button-success"></button>
    </p-footer>
</p-dialog>
