


<div class="link-container">
  

    <a href="https://freefit.co.il/FFCollector/" target="_blank">
     <img src="assets\צילום מסך 2024-09-11 162740.JPG" alt="freefit" class="link-image" />
 </a>
   
 <a href="https://www.icount.co.il/" target="_blank">
    <img src="assets\צילום מסך 2024-09-11 162921.JPG" alt="icount" class="link-image" />
</a>
 <a href="https://online2.leumit.co.il/Extranet_Online/login/login.aspx" target="_blank">
    <img src="assets\צילום מסך 2024-09-11 162718.JPG" alt="לאומית אקסטרנט" class="link-image" />
</a>
    <a href="https://leap.co.il/" target="_blank">
     <img src="assets\צילום מסך 2024-09-11 162808.JPG" alt="leap" class="link-image" />
 </a>

  
   </div>
   
   
   
     