//הקומפוננטה הזו עוד לא סופית יש קצת תיקונים
<form [formGroup]="form" (ngSubmit)="saveChanges(flage)" id="fo">
  <p *ngIf="flage==0">:הוספת אימון חדש</p>
  <p *ngIf="flage==1">:עדכון אימון קיים</p>
  <p>סוג אימון לקוח:</p>
  <select (change)="TCTSelectedOption($event)">
    <option *ngFor="let person of alltrainingCustomerTypeActive" [value]="person.id">{{ person.trainingCustomerName }}</option>
  </select>

  <p>:שם מאמנת</p>
  <select (change)="TrainerSelectedOption($event)">
    <option *ngFor="let person of alltrainerActive" [value]="person.id">{{ person.firstName +' '+ person.lastName}}</option>
  </select>

  <p>:יום בשבוע</p>
  <input pInputText type="number" formControlName="dayOfWeek" name="dayOfWeek">
  <small class="text-danger" *ngIf="form.get('dayOfWeek')?.hasError('required')">זהו שדה חובה</small>
  <small class="text-danger" *ngIf="form.get('dayOfWeek')?.hasError('invalidNumberRange')">!הימים יכולים להיות בין ראשון לשישי בלבד  </small>

  <p>:שעה</p>
  <input type="text" [(ngModel)]="thistrain.hour" name="hour">
  <small class="text-danger" *ngIf="form.get('hour')?.hasError('required')">זהו שדה חובה</small>
  <small class="text-danger" *ngIf="form.get('hour')?.hasError('invalidNumberRange')">!הימים יכולים להיות בין ראשון לשישי בלבד  </small>


  <p>:דקות</p>
  <input type="text" [(ngModel)]="thistrain.minute" name="minute">

  <p>:מספר משתתפות</p>
  <input type="number" [(ngModel)]="thistrain.participantsCount" name="participantsCount">
<br> <br>
  <input type="submit" value="submit">
</form>