#fo {
    background-color: #FFC900;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
}
p{
    color: black;
    font-family: Dubai Medium;
    font-size: 30px;
}