<!-- <div *ngIf="flage==1"> -->
    <form (ngSubmit)="saveChanges(flage)" id="fo">
        <p>trainingTypeID</p>
        <input type="text" [(ngModel)]="thistrain.trainingTypeID" name="trainingTypeID">

        <p>trainerId:</p>
        <input type="text" [(ngModel)]="thistrain.trainerID" name="trainerID">

        <p>dayOfWeek:</p>
        <input type="number" [(ngModel)]="thistrain.dayOfWeek" name="dayOfWeek">

        <p>hour:</p>
        <input type="number" [(ngModel)]="thistrain.hour.hour" name="hour">

        <p>minute:</p>
        <input type="number" [(ngModel)]="thistrain.hour.minute" name="minute">
        <p>isActive</p>
        <input type="text" [(ngModel)]="thistrain.isActive" name="isActive">

        <p>participantsCount</p>
        <input type="text" [(ngModel)]="thistrain.participantsCount" name="participantsCount">
       
        
        <input type="submit" value="save">
    </form>
<!-- </div> -->

<!-- <div *ngIf="flage==0">
    <form (ngSubmit)="saveNew()" id="fo">
        <p>trainingTypeID</p>
        <input type="text" [(ngModel)]="thistrain.trainingTypeID" name="trainingTypeID">

        <p>trainerId:</p>
        <input type="text" [(ngModel)]="thistrain.trainerID" name="trainerID">

        <p>dayOfWeek:</p>
        <input type="number" [(ngModel)]="thistrain.dayOfWeek" name="dayOfWeek">

        <p>hour:</p>
        <input type="number" [(ngModel)]="thistrain.hour.hour" name="hour">

        <p>minute:</p>
        <input type="number" [(ngModel)]="thistrain.hour.minute" name="minute">
        <p>participantsCount</p>
        <input type="text" [(ngModel)]="thistrain.participantsCount" name="participantsCount">

        <p>isActive</p>
        <input type="text" [(ngModel)]="thistrain.isActive" name="isActive">

        <input type="submit" value="save">
    </form>
</div> -->
<div *ngIf="flage==2">The requested resource was not found.</div>