<div class="cardCust">
    <p-tabView>
        <p-tabPanel header="פרטים אישיים">
            <ng-container *ngIf="!toedit; else otherContent">
                <p>
                    <label class="title">שם </label><br>
                    <span [innerText]=" (currentCustomer?.lastName) + ' ' + (currentCustomer?.firstName)"></span>
                </p>
                <p>
                    <label class="title">טלפון </label><br>
                    <span [innerText]="currentCustomer?.tel"></span>
                </p>
                <p>
                    <label class="title">מייל </label><br>
                    <span [innerText]="currentCustomer?.email"></span>
                </p>
                <p>
                    <label class="title">כתובת </label><br>
                    <span [innerText]="currentCustomer?.address"></span>
                </p>
                <div>
                    <label class="title">סוג לקוח </label><br>
                    <div *ngFor="let allCustType of customersType">
                        <span *ngIf="allCustType.id==currentCustomer?.customerTypeId">{{allCustType.title}}</span>
                    </div>
                </div>
                <p>
                    <label class="title">סטטוס</label><br>
                    <span>{{ currentCustomer?.isActive ? 'פעיל' : 'לא פעיל' }}</span>
                </p>
                <div>
                    <label class="title">אפשרויות תשלום </label><br>
                    <div *ngFor="let allpaymentOptions of paymentOptions">
                        <span
                            *ngIf="allpaymentOptions.id==currentCustomer?.paymentOptionId">{{allpaymentOptions.title}}</span>
                    </div>
                </div>
                <div>
                    <label class="title">קופת חולים </label><br>
                    <div *ngFor="let hmo of allHMO">
                        <span
                            *ngIf="hmo.id==currentCustomer?.hmoId">{{hmo.title}}</span>
                    </div>
                </div>
                <input type="button" value="עריכה" (click)="edit()">
            </ng-container>
        </p-tabPanel>
        <p-tabPanel header="מצב מנוי">
            <p>
                <label class="title">סוג מנוי </label>
                <span [innerText]="currentCustomer?.subscriptionTypeId"></span>
            </p>
        </p-tabPanel>
    </p-tabView>
    <ng-template #otherContent>
        <form [formGroup]="myForm" id="form" (submit)="saveChanges()">
            <h2>עריכה</h2>
            <div class="form-group">
                <label>שם פרטי</label><br>
                <input pInputText id="firstName" formControlName="firstName" [ngModel]="currentCustomer?.firstName" matTooltip="שדה חובה" matTooltipPosition="above" matTooltipClass="cute-tooltip" />
            </div>
            <!-- לביטל שזה החובה -->
            <div class="form-group">
                <label>שם משפחה</label><br>
                <input pInputText id="lastName" formControlName="lastName" [ngModel]="currentCustomer?.lastName" />
                <div *ngIf="myForm.get('lastName')?.hasError('required') && myForm.get('lastName')?.touched">
                    <small class="text-danger">זהו שדה חובה</small>
                  </div>
            </div>
            <div class="form-group">
                <label>טלפון</label><br>
                <input pInputText id="tel" formControlName="tel" [ngModel]="currentCustomer?.tel" />
                <div *ngIf="myForm.get('tel')?.hasError('required') && myForm.get('tel')?.touched">
                    <small class="text-danger">זהו שדה חובה</small>
                  </div>
            </div>
            <div class="form-group">
                <label>מייל</label><br>
                <input pInputText id="email" formControlName="email" [ngModel]="currentCustomer?.email" />
                <div *ngIf="myForm.get('email')?.hasError('required') && myForm.get('email')?.touched">
                    <small class="text-danger">זהו שדה חובה</small>
                  </div>
            </div>
            <div class="form-group">
                <label>כתובת</label><br>
                <input pInputText id="address" formControlName="address" [ngModel]="currentCustomer?.address" />
                <div *ngIf="myForm.get('address')?.hasError('required') && myForm.get('address')?.touched">
                    <small class="text-danger">זהו שדה חובה</small>
                  </div>
            </div>
            <div class="form-group">
                <label>סוג לקוח</label><br>
                <select id="mySelect" pInputText formControlName="customerTypeId"
                    ngModel="{{currentCustomer?.customerTypeId}}">
                    <option *ngFor="let customerType of customersType" [value]="customerType.id">
                        {{customerType.title}}
                    </option>
                </select>
                <div *ngIf="myForm.get('customerTypeId')?.hasError('required') && myForm.get('customerTypeId')?.touched">
                    <small class="text-danger">זהו שדה חובה</small>
                  </div>
            </div>
            <div class="form-group">customerTypeId
                <label>אפשרות תשלום</label><br>
                <select id="mySelect" pInputText formControlName="paymentOptionId"
                    ngModel="{{currentCustomer?.paymentOptionId}}">
                    <option *ngFor="let paymentOptions of paymentOptions" [value]="paymentOptions.id">
                        {{paymentOptions.title}}
                    </option>
                </select>
                <div *ngIf="myForm.get('paymentOptionId')?.hasError('required') && myForm.get('paymentOptionId')?.touched">
                    <small class="text-danger">זהו שדה חובה</small>
                  </div>
            </div>
            <div class="form-group">
                <label>קופת חולים</label><br>
                <select id="mySelect" pInputText formControlName="hmoId"
                    ngModel="{{currentCustomer?.hmoId}}">
                    <option *ngFor="let hmo of allHMO" [value]="hmo.id">
                        {{hmo.title}}
                    </option>
                </select>
                <div *ngIf="myForm.get('hmoId')?.hasError('required') && myForm.get('hmoId')?.touched">
                    <small class="text-danger">זהו שדה חובה</small>
                  </div>
            </div>
            <div class="form-group">
                <label>סוג מנוי</label><br>
                <select id="mySelect" pInputText formControlName="subscriptionTypeId"
                    ngModel="{{currentCustomer?.subscriptionTypeId}}">
                    <option *ngFor="let subscriptionTypeId of subscriptionType" [value]="subscriptionTypeId.id">
                        {{subscriptionTypeId.title}}
                    </option>
                </select>
                <div *ngIf="myForm.get('subscriptionTypeId')?.hasError('required') && myForm.get('subscriptionTypeId')?.touched">
                    <small class="text-danger">זהו שדה חובה</small>
                  </div>
            </div>
            <div class="form-group">
            <label>סטטוס</label>
            <p-selectButton [options]="stateOptions" formControlName="isActive" optionLabel="label"
                optionValue="value" />
                <div *ngIf="myForm.get('isActive')?.hasError('required') && myForm.get('isActive')?.touched">
                    <small class="text-danger">זהו שדה חובה</small>
                  </div>
            </div>
            <input type="submit" value="שמור שינויים" [disabled]="!myForm.valid">
        </form>
    </ng-template>
</div>