<div class="cardCust">
    <p-tabView>
      <p-tabPanel header="פרטים אישיים">
        <ng-container *ngIf="!toedit; else otherContent">
          <p>
            <label class="title">שם </label><br>
            <span [innerText]=" (currentCustomer?.lastName) + ' ' + (currentCustomer?.firstName)"></span>
          </p>
          <p>
            <label class="title">טלפון </label><br>
            <span [innerText]="currentCustomer?.tel"></span>
          </p>
          <p>
            <label class="title">מייל </label><br>
            <span [innerText]="currentCustomer?.email"></span>
          </p>
          <p>
            <label class="title">כתובת </label><br>
            <span [innerText]="currentCustomer?.address"></span>
          </p>
          <div>
            <label class="title">סוג לקוח </label><br>
            <div *ngFor="let allCustType of customersType">
              <span *ngIf="allCustType.id==currentCustomer?.customerTypeId">{{allCustType.title}}</span>
            </div>
          </div>
          <p>
            <label class="title">סטטוס</label><br>
            <span>{{ currentCustomer?.isActive ? 'פעיל' : 'לא פעיל' }}</span>
          </p>
          <div>
            <label class="title">אפשרויות תשלום </label><br>
            <div *ngFor="let allpaymentOptions of paymentOptions">
              <span *ngIf="allpaymentOptions.id==currentCustomer?.paymentOptionId">{{allpaymentOptions.title}}</span>
            </div>
          </div>
          <div>
            <label class="title">קופת חולים </label><br>
            <div *ngFor="let hmo of allHMO">
              <span *ngIf="hmo.id==currentCustomer?.hmoId">{{hmo.title}}</span>
            </div>
          </div>
          <input type="button" value="עריכה" (click)="edit()">
        </ng-container>
      </p-tabPanel>
      <p-tabPanel header="מצב מנוי">
        <p>
          <label class="title">סוג מנוי </label>
          <span [innerText]="currentCustomer?.subscriptionTypeId"></span>
        </p>
      </p-tabPanel>
      <p-tabPanel header="היסטוריית אימונים">
        <ng-container *ngIf="trainings.length > 0; else noTrainings">
          <ng-container *ngIf="currentTraining">
            <p>
              <label class="title">תאריך:</label>
              <span [innerText]="currentTraining.date | date: 'dd/MM/yyyy'"></span>
            </p>
            <p>
              <label class="title">מאמן:</label>
              <span [innerText]="currentTraining.trainerName"></span>
            </p>
            <p>
              <label class="title">סוג אימון:</label>
              <span [innerText]="currentTraining.trainingTypeName"></span>
            </p>
            <p>
                <label class="title">מס' מתתפים :</label>
                <span [innerText]="currentTraining.participantsCount"></span>
              </p>
          </ng-container>
          <div>
            <button (click)="prevTraining()" [disabled]="currentTrainingIndex === 0">קודם</button>
            <button (click)="nextTraining()" [disabled]="currentTrainingIndex === trainings.length - 1">הבא</button>
          </div>
        </ng-container>
        <ng-template #noTrainings>
          <p>אין היסטוריית אימונים</p>
        </ng-template>
      </p-tabPanel>
    </p-tabView>
  
    <ng-template #otherContent>
      <form [formGroup]="myForm">
        <p>
          <label class="title">שם משפחה </label>
          <input type="text" formControlName="lastName">
          <span *ngIf="myForm.get('lastName')?.invalid && myForm.get('lastName')?.touched">
            שם משפחה הוא שדה חובה
          </span>
        </p>
        <p>
          <label class="title">שם פרטי </label>
          <input type="text" formControlName="firstName">
          <span *ngIf="myForm.get('firstName')?.invalid && myForm.get('firstName')?.touched">
            שם פרטי הוא שדה חובה
          </span>
        </p>
        <p>
          <label class="title">טלפון </label>
          <input type="text" formControlName="tel">
          <span *ngIf="myForm.get('tel')?.invalid && myForm.get('tel')?.touched">
            טלפון הוא שדה חובה
          </span>
        </p>
        <p>
          <label class="title">מייל </label>
          <input type="text" formControlName="email">
          <span *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched">
            מייל הוא שדה חובה
          </span>
        </p>
        <p>
          <label class="title">כתובת </label>
          <input type="text" formControlName="address">
          <span *ngIf="myForm.get('address')?.invalid && myForm.get('address')?.touched">
            כתובת היא שדה חובה
          </span>
        </p>
        <div>
          <label class="title">סוג לקוח </label>
          <select formControlName="customerTypeId">
            <option *ngFor="let allCustType of customersType" [ngValue]="allCustType.id">{{allCustType.title}}</option>
          </select>
          <span *ngIf="myForm.get('customerTypeId')?.invalid && myForm.get('customerTypeId')?.touched">
            סוג לקוח הוא שדה חובה
          </span>
        </div>
        <div>
          <label class="title">סטטוס</label>
          <p-selectButton [options]="stateOptions" formControlName="isActive"></p-selectButton>
        </div>
        <div>
          <label class="title">אפשרויות תשלום </label>
          <select formControlName="paymentOptionId">
            <option *ngFor="let allpaymentOptions of paymentOptions" [ngValue]="allpaymentOptions.id">{{allpaymentOptions.title}}</option>
          </select>
          <span *ngIf="myForm.get('paymentOptionId')?.invalid && myForm.get('paymentOptionId')?.touched">
            אפשרות תשלום היא שדה חובה
          </span>
        </div>
        <div>
          <label class="title">קופת חולים </label>
          <select formControlName="hmoId">
            <option *ngFor="let hmo of allHMO" [ngValue]="hmo.id">{{hmo.title}}</option>
          </select>
          <span *ngIf="myForm.get('hmoId')?.invalid && myForm.get('hmoId')?.touched">
            קופת חולים היא שדה חובה
          </span>
        </div>
        <input type="button" value="שמירה" (click)="saveChanges()">
      </form>
    </ng-template>
  </div>
  
