<div class="panel">
<p-card>
    <p-accordion  class="acord">
        <h1>סוגי תוכן</h1>
        <p-accordionTab *ngFor="let ct of allCT" >
            <!-- <div *ngIf="ct.isActive == true"> -->
                <ng-template pTemplate="header">
                    {{ct.title}}
                </ng-template>
                <div class="Contact" *ngIf="update == false">
                    <p>title: <br /> {{ct.title}}</p>
                    <p>description: <br /> {{ct.description}}</p>
                    <p>linkHP: <br /> {{ct.linkHP}}</p>
                    <p>link2: <br /> {{ct.link2}}</p>
                    <p>title1: <br /> {{ct.title1}}</p>
                    <p>title2: <br /> {{ct.title2}}</p>
                    <p>title3: <br /> {{ct.title3}}</p>
                    <p-button label="ערוך" (click)="edit(ct.id)"></p-button>
                </div>
                <div class="Contact" *ngIf="update == true">
                    <label for="title">Title:</label><br/>
                    <input id="title" type="text" pInputText [(ngModel)]="selectedContent.title" /><br/><br/>
                    <label for="description">Description:</label><br/>
                    <input id="description" type="text" pInputText [(ngModel)]="selectedContent.description" /><br/><br/>
                    <label for="linkHP">linkHP:</label><br/>
                    <input id="linkHP" type="text" pInputText [(ngModel)]="selectedContent.linkHP" /><br/><br/>
                    <label for="link2">link2:</label><br/>
                    <input id="link2" type="text" pInputText [(ngModel)]="selectedContent.link2" /><br/><br/>
                    <label for="title1">title1:</label><br/>
                    <input id="title1" type="text" pInputText [(ngModel)]="selectedContent.title1" /><br/><br/>
                    <label for="title2">title2:</label><br/>
                    <input id="title2" type="text" pInputText [(ngModel)]="selectedContent.title2" /><br/><br/>
                    <label for="title3">title3:</label><br/>
                    <input id="title3" type="text" pInputText [(ngModel)]="selectedContent.title3" /><br/><br/>
                    <p-button label="שמירה" (click)="Save(selectedContent)"></p-button>
                    <p-button label="סגירה" (click)="Close()"></p-button>

                </div>
            <!-- </div> -->
        </p-accordionTab>
    </p-accordion>
    <app-update-content [item]="selectedContent" (onSave)="Save($event)"></app-update-content>
    <br/><p-button label="הוסף תוכן" (click)="add()"></p-button>
</p-card>

</div>
