<div class="panel">
<p-card>
    <p-accordion  class="acord">
        <h1>סוגי תוכן</h1>
        <p-accordionTab *ngFor="let ct of allCT" >
            <!-- <div *ngIf="ct.isActive == true"> -->
                <ng-template pTemplate="header">
                    {{ct.title}}
                </ng-template>
                <div class="Contact" *ngIf="update == false">
                    <p>כותרת:  {{ct.title}}</p>
                    <p>תאור:  {{ct.description}}</p>
                    <p>קישור לדף הבית:  {{ct.linkHP}}</p>
                    <p>קישור2:  {{ct.link2}}</p>
                    <p>כותרת1:  {{ct.title1}}</p>
                    <p>כותרת2:  {{ct.title2}}</p>
                    <p>כותרת3:  {{ct.title3}}</p>
                    <p-button label="ערוך" (click)="edit(ct.id)"></p-button>
                </div>
                <div class="Contact1" *ngIf="update == true">
                    <input id="title" type="text" pInputText [(ngModel)]="selectedContent.title" />
                    <label for="title">:כותרת</label><br/><br/>
                    <input id="description" type="text" pInputText [(ngModel)]="selectedContent.description" />
                    <label for="description">:תאור</label><br/><br/>

                    <input id="linkHP" type="text" pInputText [(ngModel)]="selectedContent.linkHP" />
                    <label for="linkHP">:קישור לדף הבית</label><br/><br/>

                    <input id="link2" type="text" pInputText [(ngModel)]="selectedContent.link2" />
                    <label for="link2">:קישור2</label><br/><br/>

                    <input id="title1" type="text" pInputText [(ngModel)]="selectedContent.title1" />
                    <label for="title1">:כותרת1</label><br/><br/>

                    <input id="title2" type="text" pInputText [(ngModel)]="selectedContent.title2" />
                    <label for="title2">:כותרת2</label><br/><br/>

                    <input id="title3" type="text" pInputText [(ngModel)]="selectedContent.title3" />
                    <label for="title3">:כותרת3</label><br/><br/>

                    <p-button label="שמירה" (click)="Save(selectedContent)"></p-button>
                    <p-button label="ביטול" (click)="Close()"></p-button>

                </div>
            <!-- </div> -->
        </p-accordionTab>
    </p-accordion>
    <app-update-content [item]="selectedContent" (onSave)="Save($event)"></app-update-content>
    <br/><p-button label="הוסף תוכן" (click)="add()"></p-button>
</p-card>

</div>
