.panel{
    width: 50%;
    margin-left: 25%;
    margin-top: 2%;
    border: 3px;
    border-color: rgb(209, 233, 154);
    border-style: solid;
    border-radius: 10px;
}
.Contact1{
    width: 50%;
    margin-left: 50%;
    // float: right;
    text-align: left;
}

.Contact1 label{
    float: right;
}