<div class="panel">
    <p-card>
        <p-accordion  class="acord">
            <h1>קופות חולים</h1>
            <p-accordionTab  *ngFor="let hmo of allHMO" >
                <!-- <div *ngIf="ct.isActive == true"> -->
                    <ng-template pTemplate="header" id="head1" class="text-center">
                        {{hmo.title}}
                    </ng-template>
                    <div class="Contact" *ngIf="update == false">
                        <p>שם ההסדר:  {{hmo.arrangementName}}</p>
                        <p>  מספר אימונים בחודש:  {{hmo.trainingsPerMonth}}</p>
                        <p>מחיר לאימון:  {{hmo.trainingPrice}}</p>
                        <p>טווח גילאים: מ :  {{hmo.minimumAge}}
                        עד :  {{hmo.maximumAge}}</p>
                        <p>תאור :  {{hmo.trainingDescription}}</p> 
                        <p-button label="ערוך" (click)="edit(hmo.id)"></p-button>
                    </div>
                    <div class="Contact1" *ngIf="update == true">
                        <input id="title" type="text" pInputText [(ngModel)]="selectedHMO.title" class="npt" />
                        <label for="title">:שם הקופה</label><br/><br/>
                        <input id="arrangementName" type="text" pInputText [(ngModel)]="selectedHMO.arrangementName" class="npt" />
                        <label for="arrangementName">:שם ההסדר</label><br/><br/>
    
                        <input id="trainingsPerMonth" type="number" pInputText [(ngModel)]="selectedHMO.trainingsPerMonth" class="npt"/>
                        <label for="trainingsPerMonth">: מספר אימונים בחודש </label><br/><br/>
    
                        <input id="trainingPrice" type="number" pInputText [(ngModel)]="selectedHMO.trainingPrice" class="npt"/>
                        <label for="trainingPrice">:מחיר לאימון</label><br/><br/>
    
                        <input id="minimumAge" type="number" pInputText [(ngModel)]="selectedHMO.minimumAge" class="npt"/>
                        <label for="minimumAge">:טווח גילאים: מ </label><br/><br/>
    
                        <input id="maximumAge" type="number" pInputText [(ngModel)]="selectedHMO.maximumAge" class="npt"/>
                        <label for="maximumAge">:עד </label><br/><br/>
    
                        <input id="trainingDescription" type="text" pInputText [(ngModel)]="selectedHMO.trainingDescription" class="npt"/>
                        <label for="trainingDescription">:תאור </label><br/><br/>
    
                        <p-button label="ביטול" (click)="Close()"></p-button>
                        <p-button label="שמירה" (click)="Save(selectedHMO)"></p-button>
    
                    </div>
                <!-- </div> -->
            </p-accordionTab>
        </p-accordion>
        <app-add-hmos [item]="selectedHMO" (onSave)="Save($event)"></app-add-hmos>
        <br/><p-button label="הוספה" (click)="add()"></p-button>
    </p-card>
    
    </div>
    